html {
  overflow: auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
}

.mono {
  font-family: 'Roboto Mono', monospace;
}

.selectable:hover {
  background-color: #fff2ed !important;
  cursor: pointer !important;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
